{% extends "layout.html" %}

{% block title %}
          Add a post
{% endblock %}


{% block header %}

      <div id="logo">
        <div id="more-nav">
          &rarr; <a href="{{ url_for('posts') }}" class="selected" >blog</a>
          &rarr; <a href="/portfolio" class="">portfolio</a>
          &rarr; <a href="{{ url_for('hire') }}" class="" >hire</a>
	{% if session['logged_in'] %}
	  <br>
          &rarr; <a href="{{ url_for('logout') }}" class="" >logout</a>

	{% else %}
	  <br>
          &rarr; <a href="{{ url_for('login') }}" class="" >login</a>
	{% endif %}

        </div>
        <a id='logo1' href="/">whassani</a>
        <span id='logo2'>#</span>
        <a id='logo3' href="/blog">
          Ajouter un article
        </a>
      </div>
{% endblock %}
{% block content %}
    <form method="POST" action="">
    <div id="all-posts">
        <br><br>        
        <input type="text" placeholder="Post Title Here" name="title"></input> 
        <br><br>
        <input type="text"  placeholder="Post Description Here" name="description"></input> 
        <br><br>
	<textarea class="ckeditor" name="body"></textarea>
        <br>	
	<p>Category : <p>
        <select name="category_id" size="1">
	    {% for categories in categories %}
		<option>{{categories.id}}</option> 
	    {% endfor %}
	</select>
	<br><br>	
        <button style="width: 100%; text-align:center;" class="button postfix"  type="submit">Add</button>   
    
    </form>

{% endblock %}
{% block editorjs %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
{% endblock %}

